@page {
    size: auto;
    margin: 0mm;
}

html {
    background-color: #e7ecf0;
}

body {
    margin: 0;
    padding: 0;
    color: #34495e;
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/*---[ Core Types ]-------------------*/
a, a:visited {
    cursor: pointer;
    color: var(--theme-primary-color, #2980b9);
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #F7D096;
}

hr {
    height: 1px;
    width: 98%;
    margin: 18px 1%;
    background-color: #dadada;
    border: none;
}

blockquote {
    margin: 0 10px;
    padding-left: 10px;
    border-left: 1px solid #dadada;
    font-weight: 300;
}

em {
    color: #7f8c8d;
}

strong {
    color: #19a98a;
    font-weight: 400;
}

li > p {
    margin: 0;
}

p {
    line-height: 1.6rem;
    word-spacing: .05rem;
    margin: 1em 0;
}

p > code {
    display: inline;
    margin: 0 0.1em;
    padding: 0;
    color: var(--theme-secondary-color, #e96900);
    background-color: transparent !important;
    font-size: 0.9em !important;
}
/*====================================*/


/*---[ Headers ]----------------------*/
h1, h2, h3, h4, h5, h6,
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a,
h1 > a:visited, h2 > a:visited, h3 > a:visited, h4 > a:visited, h5 > a:visited, h6 > a:visited {
    color: #2c3e50;
    font-weight: 600;
    line-height: 20px;
}

h1:hover:after,
h2:hover:after,
h3:hover:after,
h4:hover:after,
h5:hover:after,
h6:hover:after {
    content: '#';
    color: var(--theme-primary-color, #2980b9);
    margin-left: 0.4em;
    text-decoration: none;
}

h1 {
    margin: 45px 0 16px;
    font-size: 32px;
}

h1:first-child {
    margin-top: 0;
}

h2 {
    margin: 45px 0 13px;
    font-size: 28px;
}

h3 {
    margin: 40px 0 9.5px;
    font-size: 24px;
}

h4 {
    margin: 20px 0 20px;
    font-size: 20px;
}

h5, h6 {
    margin: 20px 0 20px;
    font-size: 12px;
}
/*====================================*/


/*---[ Code ]-------------------------*/
code, pre {
    font-family: 'Ubuntu Mono', monospace;
}

pre {
    background-color: #f8f8f8;
    line-height: 1.5em;
    overflow: auto;
    position: relative;
    word-wrap: normal;
    margin: 0;
    margin-top: 1em;
}

@media print {
    pre {
        border: 1px solid #cbd2da;
    }
}

pre:after {
    content: attr(data-lang);
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    color: #73797d;
    font-size: 0.85em !important;
    font-weight: 300;
    text-transform: uppercase;
}

code {
    background-color: transparent;
    color: #525252;
    display: block;
    font-size: 0.9em;
    line-height: inherit;
    padding: 1.3em;
    max-width: inherit;
    overflow: inherit;
    white-space: inherit;
}

code .token.string,
code .token.function {
    color: var(--theme-primary-color, #2980b9);
}

code .token.keyword {
    color: var(--theme-secondary-color, #e96900);
}

code .token.string {
    color: #29b934;
}

code .token.number {
    color: #ce5b5b;
}
/*====================================*/
